#wrapper {
  .top {
    background: #f2a45c;

    .top-header {
      display: flex;
      justify-content: space-between;
      .quote,
      .contact_numb {
        p {
          margin: 5px 0;
          color: #000000;
          font-size: 18px;
          span {
            font-weight: 700;
          }
          img {
            margin-top: -3px;
            padding-right: 4px;
            color: black;
          }
        }
      }
      .contact_numb {
        display: none;
      }
    }
  }
  // -----------------------HEADER---------------------
  #header {
    width: 100%;

    background: rgba(218, 218, 218, 0.46);

    .logo {
      img {
        padding: 10px;
      }
    }

    .hamburger {
      display: none;
    }
    #mymenu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      li {
        list-style: none;
        margin-top: 4px;
        padding: 10px;
        a {
          text-decoration: none;
          color: #292929;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
  // --------------------Banner-------------
  #banner {
    width: 100%;
    height: 80vh;
    .offer_banner_mobile {
      display: none;
      p {
        color: white;
        padding: 10px 12px;
      }
    }
    .banner_photomob {
      display: none;
    }
    .offer_banner {
      margin-top: 50px;
      position: relative;
      width: 85%;
      z-index: 99;
      p {
        color: white;
        padding: 20px 12px;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
      }
      ::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        background: #4a4945;
        z-index: -1;
      }
    }
    .academy {
      margin-top: 20px;
      .title_academymob {
        display: none;
      }
      .title_academy {
        margin-bottom: 25px;
        h4 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
          .arrow {
            font-weight: 900;
            color: blue;
          }
        }
      }

      .informations {
        .info {
          display: flex;
          justify-content: flex-start;
          align-items: baseline;
          gap: 10px;
          p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
          }
        }
        .register {
          margin-top: 20px;
          span {
            color: #5697e0;
          }
        }
        .register-now {
          button {
            color: white;
            width: 144px;
            border: none;
            padding: 10px 12px;
            margin-bottom: 20px;
            background: linear-gradient(
              90deg,
              #6d63e1 0%,
              #477bff 51.56%,
              #5697e0 91.67%
            );
            border-radius: 10px;
          }
        }
      }
      .img-right {
        margin-top: 120px;
        position: relative;
        margin-left: 10px;
        z-index: 101;
        img {
          position: relative;
        }
        ::after {
          position: absolute;

          content: "";
          margin-top: -120px;
          margin-left: 90px;
          top: 0;
          left: 0;
          width: 70%;
          height: 470px;
          z-index: -1;
          background: linear-gradient(
            147.81deg,
            #031c43 9.83%,
            rgba(39, 103, 163, 0.7) 96.36%
          );
        }
      }
    }
  }
  // ------------------------Mainpage-----------------
  #main_page {
    width: 100%;

    background: url(/images/backgroun-mainpage.png);
    position: relative;

    #middle-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 14px;
      background: #031c43;
      padding: 15px 14px;
      li {
        list-style-type: none;
      }
      a {
        text-decoration: none;
        color: white;
        font-size: 24px;
        line-height: 34px;
      }
    }
    #middle-navmob {
      display: none;
    }
    #titleof_mainpage {
      margin-top: 50px;
      .titlemainstyle {
        margin-bottom: 50px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
      }
    }
    .card_mainpage {
      width: 100%;
      margin-bottom: 60px;
      .box {
        background: #48719b;
        border-radius: 10px;
        width: 294px;
        height: 143px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .head_card {
          margin-top: 20px;
          h4 {
            color: white;
            text-align: center;
          }
        }
        .body_card {
          width: 75%;

          p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 21px;
            text-align: center;
            color: #fff;
          }
        }
      }
    }
    .content_whatcareer {
      width: 100%;
      .title_whatcareer {
        margin-bottom: 60px;
        h5 {
          font-size: 35px;
        }
      }
      .careerpathphoto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        img {
          width: 700px;
        }
      }
    }
  }

  // -------------students-box------------
  .frontendtobackend {
    margin-bottom: 120px;
    background: url(/images/backgroun-mainpage.png);
    .title_frontoback {
      margin-bottom: 40px;
      h3 {
        span {
          background: #2357a9;
          background: radial-gradient(
            circle farthest-corner at center center,
            #2357a9 100%,
            #446d96 66%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .coding {
      img {
        width: 80%;
      }
    }
    .list-paragraph {
      margin-bottom: 100px;
      .info-front {
        width: 90%;
        margin-top: 19px;
        display: flex;
        align-items: flex-start;
        gap: 20px;
        // &.desktop {
        //   height: auto;
        //   opacity: 1;
        //   visibility: visible;
        // }
        // &.mobile {
        //   height: 0;
        //   opacity: 0;
        //   visibility: hidden;
        //   display: none;
        // }
      }
    }
  }
  #boxes_students {
    background: #031c43;
    margin-bottom: 87px;
    .title_academystudents {
      margin-top: -150px;

      text-align: center;
      position: relative;
    }
    .mobile_slider {
      display: none;
    }

    .boxes,
    .boxes1 {
      width: 364px;
      height: 337px;
      margin-top: -50px;
      margin-bottom: 80px;
      padding: 10px;
      background: radial-gradient(
            circle at 100% 100%,
            #ffffff 0,
            #ffffff 9px,
            transparent 9px
          )
          0% 0%/10px 10px no-repeat,
        radial-gradient(
            circle at 0 100%,
            #ffffff 0,
            #ffffff 9px,
            transparent 9px
          )
          100% 0%/10px 10px no-repeat,
        radial-gradient(
            circle at 100% 0,
            #ffffff 0,
            #ffffff 9px,
            transparent 9px
          )
          0% 100%/10px 10px no-repeat,
        radial-gradient(circle at 0 0, #ffffff 0, #ffffff 9px, transparent 9px)
          100% 100%/10px 10px no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 2px)
          calc(100% - 20px) no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 20px)
          calc(100% - 2px) no-repeat,
        linear-gradient(90deg, #f2a45c 0%, #6193c0 100% 100%);
      border-radius: 10px;
      padding: 4px;
      box-sizing: border-box;
      position: relative;
      z-index: 95;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(/images/background-boxstudent.png);
        z-index: -1;
      }
      .image {
        padding: 14px 20px;
      }
      .fullname {
        padding: 14px 20px;
        position: relative;

        h6 {
          color: white;
          font-size: 24px;
          line-height: 34px;
          position: relative;

          &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -10px;
            width: 50%;
            height: 2px;
            background-color: #fff;
          }
        }
      }
      .quote {
        width: 303px;
        padding: 0px 20px;

        p {
          color: white;
        }
      }
    }
  }
  // -----------------orientedprogram-------------
  #orientedprogram {
    background: url(/images/backgroun-mainpage.png);
    background-position: center;
    margin-bottom: 100px;
    .title-oriented {
      h4 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
      }
    }
    .desktop_success {
      position: relative;
      margin-top: 70px;
      margin-bottom: 65px;
    }
    .mobile_success {
      display: none;
    }
    .paragraphs {
      .paragraphs_cols {
        margin: 0 20px;
        .title_paragraph1 {
          width: 254px;
          margin-bottom: 37px;
          h4 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            position: relative;
            &::after {
              position: absolute;
              content: "";
              left: 0;
              bottom: -10px;
              width: 70%;
              height: 4px;
              background: #284b74;
            }
          }
        }
        .description {
          p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            span {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  // -------curriculum------------
  #curriculum {
    background: url(/images/Frame\ 19193.png);

    position: relative;

    .title-curriculum {
      margin: 60px 0;

      h4 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 14px;
        color: #fff;
        margin-bottom: 60px;
      }
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 14px;
        color: #fff;
      }
    }
    .accordion {
      margin-bottom: 159px;
      // background: #48719b;
      .accordion-item {
        background: #48719b;

        margin-bottom: 20px;
        .accordion-header {
          margin-top: 30px;
          margin-left: 50px;
          position: relative;
          .accordion-button {
            position: relative;
          }
        }
        .accordion-button {
          background: #48719b;
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 39px;

          background: linear-gradient(
            269.84deg,
            #aac2dc 49.86%,
            #56bfe0 67.4%,
            #aac2dc 101.66%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
        .accordion-body {
          margin-left: 50px;
          .title-accordion {
            width: 350px;
            background-color: white;
            h4 {
              padding: 10px 12px;
            }
          }
          ul {
            li {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 24px;

              color: #ffffff;
            }
          }
        }
      }
    }
  }
  //----------------Practical Projects----------------
  #projects {
    background: url(/images/backgroun-mainpage.png);
    margin-top: 79px;
    margin-bottom: 60px;
    .title_practical {
      h4 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        span {
          color: #f2a45c;
        }
      }
    }
    .throughout {
      margin-top: 45px;
      margin-bottom: 35px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      color: #000000;
    }
    .practicalcard {
      width: 6x84px;
      margin: 0px auto;

      height: 107px;
      padding: 15px;
      margin-bottom: 5px;
      background: #ffffff;
      border: 3px solid #f2a45c;
      border-radius: 10px;
      ul {
        li {
          list-style: none;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            top: -7px;
            left: -15px;
            width: 40px;
            height: 40px;
            border: 3px solid #6193c0;
            border-radius: 50%;
          }
        }
      }
      .head-practicalcard {
        padding-left: 47px;
        display: flex;
        justify-content: baseline;
      }
      .text-practical {
        padding-left: 47px;
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;

          color: #000000;
        }
      }
    }
  }
  // ---------------Lecturer----------------
  #lecturer {
    background: url(/images/Rectangle\ 43.png);
    background-size: cover;
    position: relative;
    z-index: 75;
    padding: 25px 0 60px 0;
    h1 {
      margin-bottom: 30px;
      color: white;
    }
    &::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: url(/images/background-lecturer.png);
      background-size: cover;
      z-index: -1;
      background-size: cover;
    }
    .box-lecturer {
      background: url(/images/lecturer-boxbackground.png) no-repeat;
      background: rgba(3, 28, 67, 0.59);
      border: 3px solid #6193c0;
      border-radius: 10px;
      padding: 15px;
      .heading-lecturer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        h5 {
          color: white;
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 44px;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -10px;
            width: 210px;
            height: 6px;
            background-color: white;
          }
        }
      }
      .lecturer-paragraph {
        display: block;
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;

          color: #ffffff;
        }
      }
      .mobile-lecturerp {
        display: none;
      }
    }
  }
  // -----------------------Offers---------------
  #offers {
    background: url(/images/backgroun-mainpage.png);
    margin-bottom: 86px;
    .title-offer {
      margin-top: 99px;
      margin-bottom: 62px;
      h4 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */

        text-align: center;
        span {
          color: #65a9db;
        }
      }
    }
    .mostpopular {
      background: #65a9db;
      border-radius: 10px 10px 0px 0px;
      width: 479px;
      margin-bottom: -5px;

      h3 {
        margin-bottom: 0px;
        text-align: center;
        padding: 7px 15px;
      }
    }
    .box-offer1 {
      margin-top: 42px;
      padding-bottom: 170px;
    }
    .boxes {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .box-offer1,
    .box-offer2 {
      width: 479px;
      height: 953px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      background: #ffffff;
      border: 1px solid #0c3b83;
      border-radius: 10px;
      box-sizing: border-box;
      transition: all 0.7s ease;
      .rotatedleft {
        position: absolute;
        left: -30px;
        top: 0;
        background: #f2a45c;
        border-radius: 10px;
        transform: rotate(-25deg);
        padding: 12px 20px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */

        color: #000000;
      }
      .rotatedright {
        position: absolute;
        right: -20px;
        top: -55px;
        background: #f2a45c;
        border-radius: 10px;
        transform: rotate(15deg);
        padding: 10px 20px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */

        color: #000000;
      }

      .title-justacademy {
        text-align: center;
        margin-bottom: 15px;
        margin-left: 32px;
        h4 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height: 44px;
          /* identical to box height */

          color: #000000;
          span {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 77px;

            color: #0c3b83;
          }
        }
      }
      .hour {
        margin-left: 32px;
        margin-bottom: 35px;
        background: #a5eaee;
        width: 216px;
        height: 64px;
        padding: 9px 20px;
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          text-align: center;
          line-height: 44px;

          color: #000000;
        }
      }
      .bluebox {
        width: 423px;
        height: 223px;
        margin-left: 32px;
        background: linear-gradient(
          250.26deg,
          #0b1676 32.92%,
          #0d5bb2 58.68%,
          #6b9ecf 100%
        );
        border: 3px solid #f2a45c;
        border-radius: 10px;
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          padding: 10px 15px;
          color: #ffffff;
          padding: 19px 20px;
        }
      }
      .offerp {
        margin-top: 20px;
        p {
          margin-left: 32px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          color: #000000;
        }
      }
      .offerp2 {
        margin-top: 20px;
        p {
          margin-left: 32px;
          margin-bottom: 35px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          color: #000000;
        }
      }
      &:hover {
        background: #031c43;
        .title-justacademy {
          h4 {
            color: white;
          }
        }
        .offerp {
          p {
            color: white;
          }
        }
        .offerp2 {
          p {
            color: white;
          }
        }
      }
    }
    .apply_scholarship {
      margin-top: 86px;
      margin-bottom: 10px;
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;

        color: #000000;
        span {
          background: #f2a45c;
        }
      }
    }
    .register-now {
      button {
        width: 171px;
        padding: 10px 12px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        background: linear-gradient(
          90deg,
          #3227b3 0%,
          #477bff 51.56%,
          #5697e0 91.67%
        );
        border-radius: 10px;
        color: #ffffff;
      }
    }
  }
  // -----------Dardania----------------
  #dardania {
    background-color: #031c43;
    .speak {
      margin-top: 49px;
      h4 {
        color: #abc5dd;
        margin-bottom: 20px;
        padding-bottom: 14x;
        span {
          color: #82817f;
        }
      }
    }
    .dardaniaquote {
      margin-bottom: 25px;
      h6 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #fff;
      }
    }
    .back_endacademy {
      margin-bottom: 48px;
      background: url(/images/Frame\ 17344.png) no-repeat;
      width: 400px;
      height: 248px;
      position: relative;
      &::after {
        position: absolute;
        content: "Back-End Academy";
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        padding-left: 4px;
        /* identical to box height */

        color: #000000;
        width: 100%;
        height: 199%;
        top: 100px;
        left: 19px;
        background: url(/images/blank-white.png) no-repeat;
      }
    }
    .buttonbook {
      button {
        padding: 10px 20px;
        color: #000000;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        background: #abc5dd;
        border-radius: 10px;
      }
    }
    .imageofdardania {
      img {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  #part_forma {
    background: url(/images/backgroun-mainpage.png);
    margin-bottom: 60px;
    .title_forma {
      display: flex;

      flex-direction: column;
      margin-top: 59px;

      h4 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;

        color: #000000;
        span {
          color: #65a9db;
        }
      }
    }
    .holdyourspot {
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #666666;
      }
    }
    .forma {
      form {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 11px;
        label {
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;

          color: #606060;
        }
        input {
          background: #ffffff;

          background-clip: padding-box, border-box;
          padding: 8px;

          border-radius: 8px;
          border: 1px rgba(146, 189, 255, 1) rgba(202, 88, 255, 1), #fff;
          border-image: #92bdff;
          ::placeholder {
            margin-left: 3px;
          }
        }
        select {
          padding: 8px;
          border: 1px rgba(146, 189, 255, 1) rgba(202, 88, 255, 1), #fff;
          border-image: #92bdff;
        }
      }
      .clickingapply {
        margin-top: 24px;
        p {
          padding: 0 6px;
          color: rgba(133, 133, 133, 1);
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          text-align: center;
        }
      }
      .buttonapply_now {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          width: 483px;
          height: 64px;
          background: #1f1e9e;
          border: 1px solid #1452f5;
          border-radius: 10px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;

          color: #ffffff;
        }
      }
    }
  }

  @media (max-width: 992px) {
    // ----------------top------------
    .top {
      .top-header {
        .contact_numb {
          display: block;
        }
      }
    }
    // ------------header---------------
    #header {
      background: white;
      height: auto;
      .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 7px;
      }
      .hamburger {
        display: block;
        text-align: right;
      }
      #mymenu {
        display: none;
        li {
          a {
            display: flex;
            justify-content: flex-start;
            gap: 4px;
            margin-left: -40px;
          }
        }
      }
      #mymenu.opened {
        display: block;
      }
    }
    // ---------------Banner------------
    #banner {
      color: #292929;
      width: 100%;
      height: auto;
      overflow: hidden;
      top: 0;

      .offer_banner_mobile {
        display: block;
        position: relative;
        width: 100%;
        z-index: 100;
        ::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #4a4945;
          z-index: -2;
        }
      }
      .banner_photomob {
        position: relative;
        ::after {
          position: absolute;
          content: "";
          width: 55%;
          top: 0;
          left: 0;
          margin-left: 110px;
          z-index: -1;
          height: 100%;
          background: linear-gradient(
            147.81deg,
            #031c43 9.83%,
            rgba(39, 103, 163, 0.7) 96.36%
          );
        }
        .img-parts1 {
          margin-left: 40px;
        }

        display: block;
        margin-top: -65px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 20px;
      }
      .offer_banner {
        display: none;
      }
      .academy {
        .title_academymob {
          display: block;
          width: 100%;
          margin-bottom: 20px;
          h4 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            span {
              color: #5697e0;
              font-weight: 800;
            }
          }
        }

        .title_academy {
          display: none;
        }

        .img-right {
          display: none;
        }
        .informations {
          .register {
            p {
              text-align: center;
            }
          }
          .register-now {
            text-align: center;
          }
        }
      }
    }
    // -----------MainPage-----------
    #main_page {
      margin: 20px 0;
      #middle-nav {
        display: none;
      }
      #middle-navmob {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #031c43;
        box-shadow: 0px 37px 46px -11px rgba(74, 73, 69, 0.42);
        backdrop-filter: blur(9px);
        padding: 5px 14px;
        li {
          list-style: none;
        }
        .first_element {
          background: #f0a35b;
          border-bottom: 3px solid #4a4945;
          border-radius: 4px;
          padding: 5px 40px;
          a {
            padding: 10px 12px;
            color: #292929;
            font-weight: 800;
          }
        }
        a {
          text-decoration: none;
        }

        border-radius: 8px;
        img {
          background: rgba(255, 255, 255, 0.2);
          border-radius: 6px;
          margin-right: 4px;
        }
      }
      .card_mainpage {
        margin-bottom: 40px;
        .box {
          width: 50%;
          margin: 15px;
          width: 392px;
          margin: 0px auto;
          margin-bottom: 10px;
          .body_card {
            width: 80%;
          }
        }
      }
      // ----------frontendtobackend-------------
      .front-end {
        .title_frontoback {
          width: 55%;
          margin: 0px auto;
        }
        .coding {
          img {
            width: 300px;
          }
        }
      }
    }
    .frontendtobackend {
      .coding {
        img {
          width: 540px;
        }
      }
      .list-paragraph {
        &.mobile {
          margin-bottom: 0;
        }
        // .info-front {
        // &.mobile {
        //   display: flex;
        //   height: auto;
        //   opacity: 1;
        //   visibility: visible;
        // }
        // &.desktop {
        //   height: 0;
        //   opacity: 0;
        //   visibility: hidden;
        //   display: none;
        // }
        // }
      }
    }
    // ---------------boxees------------
    #boxes_students {
      height: 350px;

      .mobile_slider {
        display: block;
        margin-top: -45px;
        margin-bottom: 40px;
        .slide {
          .boxes1 {
            margin: 0px auto;
            margin-top: 5px;
            .fullname {
              position: relative;
              h6 {
                position: relative;
                &::after {
                  position: absolute;
                  content: "";
                  left: 0;
                  bottom: -10px;
                  width: 50%;
                  height: 2px;
                  background-color: #fff;
                }
              }
            }
          }
        }
      }

      .title_academystudents {
        width: 342px;
        margin: 0px auto;
        margin-top: -150px;
        h4 {
          font-size: 23px;
        }
      }
      .boxes {
        display: none;
      }
    }
    // ----------orientedprogram-----------
    #orientedprogram {
      .desktop_success {
        display: none;
      }
      .mobile_success {
        img {
          width: 320px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 150px;
        margin-bottom: 65px;
      }
      .paragraphs {
        .paragraphs_cols {
          .title_paragraph1 {
            h4 {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 22px;
            }
          }
          .description {
            p {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
            }
          }
        }
      }
    }
    // ------------curriculum----------
    #curriculum {
      .title-curriculum {
        margin: 60px 0;

        h4 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 14px;
          color: #fff;
          margin-bottom: 60px;
        }
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 300;
          font-size: 36px;
          line-height: 46px;
          color: #fff;
        }
      }
    }
    // ---------------Practical Projects-----------
    #projects {
      .title_practical {
        h4 {
          margin-top: -50px;
        }
        p {
          margin-top: 14px;
        }
      }
      .practical_card {
        width: 324px;
        margin: 0px auto;
        margin-bottom: 5px;
      }
    }
    // ----------------Lecturer--------------- duhet
    #lecturer {
      .box-lecturer {
        // .heading-lecturer {
        // }
        .lecturer-paragraph {
          display: none;
        }
        .mobile-lecturerp {
          display: block;
          width: 60%;
          p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;

            color: #ffffff;
          }
        }
        .linkedin {
          display: none;
        }
      }
    }
    // -----------------Offers-------------
    #offers {
      .boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .box-offer1,
      .box-offer2 {
        margin: 0px auto;
      }
      .mostpopular {
        margin: 0px auto;
      }
      .box-offer1 {
        margin-bottom: 60px;
      }
    }
    // -----------------Dardania-------------------
    // #dardania {
    // }
  }
}

// --------------------------Media query-------------------
